<link rel="stylesheet" href="/css/clock.css">
<script type="text/javascript" src="/scripts/clock.js"></script>
<h1>home page rendered in handlebars</h1>
<h2>Cell Division in a Robot</h2>
<img src="./robot.jpg" alt="ocean with boat">

